{% extends "base.html" %}

{% block title%}{{ title }}{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mb-4 p-2 bg-primary text-white">{{ title }}</h2>
    
    <div class="alert alert-danger" role="alert">
        {{message}}
    </div>
    
    <table class="table table-hover table-bordered">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>名前</th>
                <th>プレイヤー</th>
            </tr>
        </thead>
        <tbody>
            {% for o in object_list %}
            <tr>
                <td>{{o.id}}</td>
                <td>{{o.name}}</td>
                <td>
                    {% if o.player_set.count > 0 %}
                    <table class="table table-sm table-bordered">
                        <tr class="table-success">
                            <th>名前</th>
                            <th>HP</th>
                            <th>MP</th>
                        </tr>
                        {% for player in o.player_set.all %}
                        <tr>
                            <td>{{ player.name }}</td>
                            <td>{{ player.hp }}</td>
                            <td>{{ player.mp }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
